*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.bak

*.py[cod]
*$py.class

.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.ipynb_checkpoints

.python-version

celerybeat-schedule.*

*.sage.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak
bin
include
lib
local
lib64
scripts
pyvenv.cfg
pip-selfcheck.json
.Python
log

/site

.mypy_cache/

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

sftp-config.json

Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/externsions.json
.history

nucalendar/env.py
static/
